@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";


* {
  box-sizing: border-box;
}


html,body {
  line-height: 1;
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(to right, rgba(108,176,249,.4) 20%, rgba(88,176,134,.4) 63%, rgba(74,176,54,.4) 93%, rgba(74,176,54,.4) 100%), url(https://media-exp1.licdn.com/dms/image/C4D1BAQEe9sMrADBoxA/company-background_10000/0?e=2159024400&v=beta&t=gzIhZ_c6_5PS-lEXDE9zRHTp1m_uekjgJpl07M5octo);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
}

header{
  padding: 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

    .left-menu{
      display: flex;
      
      .logo {
        font-size: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    
      .city {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px 20px;
      }

      
      i.fa-chevron-down {
        padding: 0px 5px;
      }

    }

    .right-menu {
      display: flex;
      
      .user-img {
        padding: 15px 8px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    
      .user-dropdown {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px 8px;
      }

      .post-btn {
        font-weight: 300;
        padding: 15px 20px;
        background: rgb(130, 170, 260);
        color: white;
        text-transform: capitalize;
      }

      i.fa-chevron-down {
        padding: 0px 5px;
      }

    }


}

